<h1>Visión:</h1>
<p>
Al ver las manualidades en la plaza de la computación y 
re-descubrir su talento en este fino arte, Adolfo Dominguez 
decidió que no era posible que productos de tan mala calidad 
fueran ofrecidos a precios tan elevados. Esta es nuestra visión, 
llegar a ofrecer a gran escala productos de buena calidad y a 
buen precio, como depredador de la mediocridad presente, de 
forma que los productos alcancen un precio justo.</p>
<h1>Misión:</h1>
<p>
Como joven emprendedor, la misión de Adolfo Dominguez es crear 
miniaturas a precios razonables, ya sea para joyería y accesorios, o como decoración para la casa, él quiere tus ideas para hacerlas realidad en pequeñas piezas únicas, dándolas en precios competitivos y cuidando siempre la calidad del producto finalizado.
</p>
<h1>Quienes somos:</h1>
<p>
Somos un grupo de jóvenes, con un artista como nuestro proveedor, un ingeniero agronomo y un computologo como distribuidores iniciales, y una computologa como diseñadora de la presente página. Adolfo  Dominguez, de quien ya hemos hablado antes aquí, es el fundador y  artista detrás de este proyecto que esperamos ver crecer, nacido  en la Ciudad de México, desde muy joven mostró talento para crear  miniaturas y ahora pone ese talento a tu disposición.
</p>
